# Laravel specific
/vendor/
/node_modules/
/public/build
/public/hot

# Keep the folders but ignore the files inside
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*.php
/storage/framework/testing/*
/storage/app/public/*
/storage/logs/*.log

# Environment & Sensitive files
.env
auth.json

# IDE & OS specific
.vscode/
.idea/
.DS_Store
Thumbs.db